.App {
  text-align: center;
}

.modal {
  position: fixed; /* Fixed positioning to cover the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Lower z-index than modal-content */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  border: 1px solid gray;
  background-color: white;
  width: 30%; /* Adjusted width */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  z-index: 2; /* Higher z-index to be above modal background */
  position: relative; /* Relative positioning for proper stacking */
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background-color: chartreuse;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
}

input {
  font-size: 1.2rem;
}

label {
  font-weight: bold;
}
